
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
    <!-- CSS only -->
    <title>Assistente de Classe</title>
</head>  
<body>

  <nav class="nav">
    <a href="accounts/login">
      <button>
        Entrar
        <div class="arrow-wrapper">
            <div class="arrow"></div>
    
        </div>
    </button>
    </a>
  </nav>
  

<center> 
  
  <h1>Suas Turmas</h1>
  
  <br>
  <div class="card">
    <div class="card-border-top">
    </div>
    <div class="img">
    </div>
    <span>3 AII</span>
    <p class="job">IF Baiano</p>
    <a href="turmas"><button>Entrar</button></a>
  </div>

</center>

    <br>
    <a href="accounts/registrar">Criar conta</a>
    <a href="accounts/logout">LOgout</a>

<br>
    {{user.email}}

    <script src=" {% static 'javascript/home/nav.js' %} "></script>
</body>
</html>